In [ ]:
import pandas as pd
import numpy as np
from scipy import stats

df = pd.read_csv("employee_dataset.csv")

print(df.isnull().sum())
df['Occupation'] = df['Occupation'].fillna(df['Occupation'].mode()[0])
df['Satisfaction_Level'] = df['Satisfaction_Level'].fillna(df['Satisfaction_Level'].mean())

df['Satisfaction_Binary'] = df['Satisfaction_Level'].apply(lambda x: 'High' if x>0.7 else 'Low')
df['Purchase_History_Num'] = df['Purchase_History'].map({"High":2,"Medium":1,"Low":0})

z_scores = np.abs(stats.zscore(df['Income'].dropna()))
outliers = df['Income'].dropna()[z_scores>3]
print("Outliers in Income:", outliers.values)

df['Years_Employed'] = df['Years_Employed'].fillna(df['Years_Employed'].median())

print(df)

ID                    0
Age                   2
Gender                0
Income                1
Occupation            3
Years_Employed        1
Satisfaction_Level    2
Purchase_History      0
dtype: int64
Outliers in Income: []
   ID   Age  Gender    Income       Occupation  Years_Employed  \
0   1  25.0    Male   50000.0         Engineer             2.0
1   2  37.0  Female   62000.0   Data Scientist             5.0
2   3   NaN    Male   45000.0        Executive             3.0
3   4  29.0  Female   54000.0  Product Manager             7.0
4   5  42.0    Male       NaN            Sales             8.0
5   6  55.0  Female  100000.0        Executive            30.0
6   7  23.0    Male   52000.0        Executive             2.0
7   8  29.0  Female   70000.0  Product Manager             6.0
8   9   NaN    Male  200000.0        Executive            15.0
9  10  45.0  Female   65000.0        Executive             6.0

   Satisfaction_Level Purchase_History Satisfaction_Binary  \
0              0.8000             High                High
1              0.6875           Medium                 Low
2              0.6000              Low                 Low
3              0.7000              Low                 Low
4              0.5000              Low                 Low
5              0.9000             High                High
6              0.4000           Medium                 Low
7              0.7000           Medium                 Low
8              0.9000              Low                High
9              0.6875             High                 Low

   Purchase_History_Num
0                     2
1                     1
2                     0
3                     0
4                     0
5                     2
6                     1
7                     1
8                     0
9                     2